language: java

jobs:
  include:
    - stage: "Test with OpenJDK"                # naming the Tests stage
      name: "Test with OpenJDK"            # names the first Tests stage job
      script: ./gradlew clean build jacocoTestReport
      jdk: openjdk11

branches:
  only:
  - master

deploy:
  provider: heroku
  api_key:
    secure: $HEROKU_API_KEY
  app:
    master: java-travis-ci
